<h1>Add a Member:</h1>

<form action="/members_form" method="post">
  <label for="name">Member's name:</label>
  <input id="name" name="name" type="text">

  

  <button type="submit">Add Member</button>
</form>
