<h3>Here are all the members in this group:</h3>

<ul>
  <% @team.groups().each() do |group| %>
  <li> <%= group.name() %></li>
    <% end %>

</ul>

<a href="/teams/<%= @team.id %>/members/new">Add a new member</a>
<br>
<a href="/">Return to Home Page</a>
