<h1>Add Teams</h1>

<p>Add a team here:</p>

<form action="/teams" method="post">
  <label for="name">team's name:</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-primary">Add Team</button>
</form>

<a href="/"><h4>back to home page</h4></a>
