body {
  background: url(http://www.pressestelle.tu-berlin.de/fileadmin/a70100710/TU_intern/Bilder/2014_01_09_Professorenkampf.tif.jpg);

  background-size: 1300px;

  background-repeat: no-repeat;
}
